<h1>move:<%=name%></h1>

<div class="large-6 columns">
	<h2>Info</h2>
	<table id="movestattable">
		<thead>
		<tr>
		<th>Stat</th>
		<th>Value</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Type </td>
			<td>
				<div class="typewrap single">
					<a href="/q/type:<%= type.toLowerCase() %>" class="type <%= type.toLowerCase() %>"><%= type.toLowerCase() %> </a>
				</div>
			</td>
		</tr>
		<tr>
			<td>Category </td>
			<td><%=category%> </td>
		</tr>
		<tr>
			<td>Power </td>
			<td><%=power%> </td>
		</tr>
		<tr>
			<td>Accuracy </td>
			<td><%=accuracy%> </td>
		</tr>
		<tr>
			<td>PP </td>
			<td><%=pp%> </td>
		</tr>
		<tr>
			<td>TM </td>
			<td><%=tm%> </td>
		</tr>
		<tr>
			<td>Probability </td>
			<td><%=probability%> </td>
		</tr>
		<tr>
			<td>Description </td>
			<td><%=description%> </td>
		</tr>
		</tbody>
	</table>
</div>
<div class="large-6 columns">
	<h2>Pokemons</h2>
	<table>
	<thead>
	<tr>
		<th>Level </th>
		<th>Name</th>
		<th>Type</th>
	</tr>
	<% console.log(pokemons) 
	for(i=0;i<pokemons.models.length;i++) {
		pokemon = pokemons.models[i].attributes;
		for(m=0;m<pokemon.learnedMoves.length;m++) {
			cmove = pokemon.learnedMoves[m];
			clvl = cmove.substr(cmove.indexOf("(")+1);
			clvl = clvl.substr(0,clvl.indexOf(")"));
			cmove = cmove.substr(0,cmove.indexOf("(")-1);
			if(name.toLowerCase() == cmove.toLowerCase()) {


				%>
	<tr>

	<td>
	<%=clvl%>
	</td>
	<td class="name">
	<a href="#!pokemon/<%=pokemon.name%>"><%=pokemon.name%></a>
	</td>
	<td class="typetd">

	<div class="typewrap <% if (pokemon.types.length == 1) { %>single<% } %>">
	<a href="/q/type:<%= pokemon.types[0] %>" class="type <%= pokemon.types[0].toLowerCase() %>"><%= pokemon.types[0] %> </a>

	<% if (pokemon.types.length > 1) { %>
	<a href="/q/type:<%= pokemon.types[1] %>" class="type <%= pokemon.types[1].toLowerCase() %>"><%= pokemon.types[1] %> </a>
	</div>
	<% } %>
	</td>

	</tr>

				<%
			}

		}
	}
	%>
	</table>
</div>