
	<td><%=number%></td>
	<td class="catch"><a href="#"><img src="/img/pokeball.png"></a></td>
	<td><a href="#!pokemon/<%=name.replace(/ /gi,"_")%>"><%=name%></a></td>
	<td class="typetd">
		<div class="typewrap <% if (types.length == 1) { %>single<% } %>">
    <a href="/q/type:<%= types[0] %>" class="type <%= types[0].toLowerCase() %>"><%= types[0] %> </a>

    <% if (types.length > 1) { %>
    <a href="/q/type:<%= types[1] %>" class="type <%= types[1].toLowerCase() %>"><%= types[1] %> </a>
    <% } %>
    </div>
  </td>